@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

/* Custom Scrollbar */
::-webkit-scrollbar {
  width: 8px; /* Slim width */
}

::-webkit-scrollbar-track {
  background: #2d2d2d; /* Dark zinc-800 background for the track */
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: #4b4b4b; /* Lighter zinc color for the thumb */
  border-radius: 10px;
  border: 2px solid rgba(75, 75, 75, 0.6); /* Zinc-700/60 border */
  transition: background 0.3s ease; /* Smooth transition */
}

::-webkit-scrollbar-thumb:hover {
  background: #3a3a3a; /* Slightly darker zinc shade on hover */
  cursor: pointer;
}

::-webkit-scrollbar-thumb:active {
  background: #2f2f2f; /* Even darker shade when active */
}
